# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Visual Studio
**/Debug/*
**/Release/*
.vs/

# Python
*.pyc
**/.idea/

# NodeJS
**/node_modules/
*.js
*.js.map

# Project
**/*-idx[0-9]-ubyte
python/venv/
python/results/
python/log/
python/output/
python/cq_data/cq
python/out
python/mnist_output_gan
python/mnist_output_dcgan
python/cq_log
python/cq_output
python/cq_output_lsgan
python/cq_output_infogan
python/cq_output_vae
python/cq_output_dcgan_*
python/save/*.pb
python/save/train
python/save/result_rt
python/save/result_tf
python/pytorch/output/
python/pytorch/log/

ts/cq_data/cq/
